---
#### Some base setup including ssh keys
#
# ssh_key_name is in defaults
#
####
- name: Check hostname
  ansible.builtin.command: hostname
  register: current_hostname
  changed_when: false

- name: Set computer name
  ansible.builtin.command: "scutil --set {{ item }} {{ hostname }}"
  loop:
    - ComputerName
    - LocalHostName
  become: true
  become_user: root
  changed_when: false
  when: current_hostname.stdout != hostname

- name: Defaults host name
  community.general.osx_defaults:
    domain: com.apple.smb.server
    key: NetBIOSName
    type: string
    value: "{{ hostname }}"
  become: true
  become_user: root

- name: Make sure login shell is available in /etc/shells
  ansible.builtin.lineinfile:
    path: /etc/shells
    line: "{{ login_shell }}"
    state: present
  become: true
  become_user: root

- name: Set user login shell
  ansible.builtin.user:
    name: "{{ usernm }}"
    shell: "{{ login_shell }}"
  become: true
  become_user: root

- name: Refresh sudo cache so we don't get asked for a password again
  ansible.builtin.command: "echo none"
  become: true
  changed_when: false

- name: Check if key exists
  ansible.builtin.stat:
    path: "{{ ssh_key_name }}"
  register: ssh_key

- name: Create ssh key(s)
  ansible.builtin.command: ssh-keygen -t rsa -N '' -q -f "{{ ssh_key_name }}"
  changed_when: false
  when: not ssh_key.stat.exists

- when: search_domains_use
  block:

    - name: Check if we've set the search domains yet
      ansible.builtin.command: networksetup -getsearchdomains "{{ item }}"
      register: search_domains_set
      changed_when: false
      loop:
        - "{{ search_domain_service }}"

    - name: Set search domains
      # yamllint disable-line rule:line-length
      ansible.builtin.command: networksetup -setsearchdomains "{{ item.0 }}" "{{ search_domains }}"
      become: true
      become_user: root
      when: item.1.stdout != search_domains
      changed_when: false
      with_together:
        - ["{{ search_domain_service }}"]
        - "{{ search_domains_set.results }}"
