---
#### Install all public repos from any git user
# Dont forget to set github_user
# Set github_public_only: true for CI or when you only want public repos
####
- name: Make sure git and gh are installed
  community.general.homebrew:
    name:
      - git
      - gh
    state: present

- name: Read in ssh_key
  ansible.posix.authorized_key:
    user: "{{ usernm }}"
    key: "{{ lookup('file', ssh_key_name + '.pub') }}"
  register: ssh_key
  changed_when: false
  when: not github_public_only | default(false)

- name: Upload my ssh key to Github
  ansible.builtin.uri:
    url: https://api.github.com/user/keys
    method: POST
    user: "{{ github_user }}"
    body_format: json
    body: ' { "title": "{{ hostname }}", "key": "{{ ssh_key.key }}"}'
    status_code: 201
    headers:
      Authorization: "token {{ github_password }}"
  register: github_key
  failed_when: not '"key is already in use" in github_key.content'
  when: not github_public_only | default(false)

- name: Get list of my repos (authenticated)
  ansible.builtin.command: gh repo list {{ github_user }} --limit 1000 --json sshUrl -q '.[].sshUrl'
  register: github_repos_auth
  changed_when: false
  environment:
    GH_TOKEN: "{{ github_password }}"
  when: not github_public_only | default(false)

- name: Get list of my public repos (no auth)
  ansible.builtin.uri:
    url: "https://api.github.com/users/{{ github_user }}/repos?per_page=100&type=public"
    method: GET
    return_content: true
  register: github_repos_api
  changed_when: false
  when: github_public_only | default(false)

- name: Extract public repo URLs
  ansible.builtin.set_fact:
    github_repos_public:
      stdout_lines: "{{ github_repos_api.json | map(attribute='clone_url') | list }}"
  when: github_public_only | default(false)

- name: Set repo list variable
  ansible.builtin.set_fact:
    github_repos: "{{ github_repos_auth if not github_public_only | default(false) else github_repos_public }}"

- name: Git clone all my projects
  # noqa latest[git]
  ansible.builtin.git:
    repo: "{{ item }}"
    dest: "{{ projects_dir }}/personal/{{ item.split('/')[1] | regex_replace('.git$', '') }}"
    accept_hostkey: true
    version: HEAD
  loop: "{{ github_repos.stdout_lines }}"
