---
#### Install all public repos from any git user
# Dont forget to set github_user
####
- name: Make sure git and gh are installed
  community.general.homebrew:
    name:
      - git
      - gh
    state: present

- name: Read in ssh_key
  ansible.posix.authorized_key:
    user: "{{ usernm }}"
    key: "{{ lookup('file', ssh_key_name + '.pub') }}"
  register: ssh_key
  changed_when: false

- name: Upload my ssh key to Github when using 2FA
  ansible.builtin.uri:
    url: https://api.github.com/user/keys
    method: POST
    user: "{{ github_user }}"
    body_format: json
    body: ' { "title": "{{ hostname }}", "key": "{{ ssh_key.key }}"}'
    status_code: 201
    headers:
      Authorization: "token {{ github_password }}"
  register: github_key
  failed_when: not '"key is already in use" in github_key.content'
  when: github_2fa

- name: Get list of my repos
  ansible.builtin.command: gh repo list {{ github_user }} --limit 1000 --json sshUrl -q '.[].sshUrl'
  register: github_repos
  changed_when: false
  environment:
    GH_TOKEN: "{{ github_password }}"

- name: Git clone all my projects
  # noqa latest[git]
  ansible.builtin.git:
    repo: "{{ item }}"
    dest: "{{ projects_dir }}/personal/{{ item.split('/')[1] | regex_replace('.git$', '') }}"
    accept_hostkey: true
    version: HEAD
  loop: "{{ github_repos.stdout_lines }}"
