---
#### Grab your dotfiles
# Set dotfiles_repo in vars/main
# dotfiles_dir is set in defaults, LEAVE ALONE
####

- name: Install gnu stow and git for dotfiles
  community.general.homebrew:
    name: "{{ item }}"
    state: present
  loop:
    - stow
    - git

- name: Clone dotfiles repo
  ansible.builtin.git:
    repo: "{{ dotfiles_repo }}"
    dest: "{{ dotfiles_dir }}"
    update: true
    accept_hostkey: true
    clone: true
    version: "{{ dotfiles_version }}"

- name: Change the remote to ssh
  community.general.git_config:
    name: remote.origin.url
    value: "git@github.com:{{ github_user }}/dotfiles.git"
    scope: local
    repo: "{{ dotfiles_dir }}"

- name: Ensure .config directory exists
  ansible.builtin.file:
    path: "{{ home_dir }}/.config"
    state: directory
    mode: '0755'

- name: Stow common files
  ansible.builtin.command: stow -v --adopt -R common
  args:
    chdir: "{{ dotfiles_dir }}"
  register: stow_common
  changed_when: "'LINK' in stow_common.stderr or 'UNLINK' in stow_common.stderr"

- name: Stow {{ dotfiles_env }}
  ansible.builtin.command: stow -v --adopt -R "{{ dotfiles_env }}"
  args:
    chdir: "{{ dotfiles_dir }}"
  register: stow_env
  changed_when: "'LINK' in stow_env.stderr or 'UNLINK' in stow_env.stderr"
