---
# tasks file for roles/homebrew
- name: Refresh sudo cache so homebrew cask doesnt ask for a password
  ansible.builtin.command: "echo none"
  become: true
  changed_when: false

- name: Install brew taps
  community.general.homebrew_tap:
    tap: "{{ homebrew_taps }}"
    state: present

- name: Install Homebrew packages
  community.general.homebrew:
    name: "{{ item if item is string else item.name }}"
    install_options: "{{ item.install_options | default(omit) if item is mapping else omit }}"
    state: present
  loop: "{{ homebrew_installed_packages }}"

- name: Remove any blacklisted packages
  community.general.homebrew:
    name: "{{ homebrew_blacklisted_packages }}"
    state: absent

- name: Install cask applications
  community.general.homebrew_cask:
    name: "{{ homebrew_cask_apps }}"
    state: present
    accept_external_apps: true

- name: Check for brewfile
  ansible.builtin.stat:
    path: "{{ homebrew_brewfile_dir }}/Brewfile"
  register: homebrew_brewfile

- name: Install from Brewfile
  ansible.builtin.command: "brew bundle"
  args:
    chdir: "{{ homebrew_brewfile_dir }}"
  when: homebrew_brewfile.stat.exists and homebrew_use_brewfile
  changed_when: false
