---
#### Set up OSX machines
# One variable to set up is usernm in group_vars/all
# Comment out any module you don't want, buuuut
# beware dependencies of modules
####

- name: Set up osx host
  hosts: osx
  connection: local
  user: "{{ usernm }}"
  roles:
    - { role: 'osx_base', tags: 'osx_base' }
    - { role: 'xcode', tags: 'xcode' }
    - { role: 'homebrew', tags: 'homebrew' }
    - { role: 'packages', tags: 'packages' }
    - { role: 'git', tags: 'git' }
    - { role: 'dotfiles', tags: 'dotfiles' }
    - { role: 'tweaks', tags: 'tweaks' }
    - { role: 'hazel', tags: 'hazel' }
