---
name: CI
# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main
      - develop

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Set up Python 3.
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install test dependencies.
        run: uv sync

      - name: Lint code.
        run: |
          uv run yamllint .
          uv run ansible-lint

  integration:
    name: Integration
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
        vars_file:
          - tests/test-vars.yml

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Ensure uninstall-homebrew.sh is executable
        run: chmod +x tests/uninstall-homebrew.sh

      - name: Uninstall GitHub Actions' built-in Homebrew.
        run: tests/uninstall-homebrew.sh

      - name: Uninstall GitHub Actions' built-in browser installs.
        run: |
          sudo rm -rf /Applications/Firefox.app
          sudo rm -rf /Applications/Google\ Chrome.app
          sudo rm -rf /usr/local/bin/firefox

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install test dependencies.
        run: uv sync

      - name: Set up the test environment.
        run: |
          cp tests/ansible.cfg ./ansible.cfg
          cp tests/inventory ./inventory
          cp ${{ matrix.vars_file }} ./local.yml
          uv run ansible-galaxy install -r requirements.yml

      - name: Test the playbook's syntax.
        run: uv run ansible-playbook playbooks/common.yml --syntax-check

      - name: Test the playbook.
        run: uv run ansible-playbook playbooks/common.yml
        env:
          ANSIBLE_FORCE_COLOR: '1'
